.divCards{
    margin-top: 14vh;
    display: flex;
    width: 99vw;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
    align-items: space-between;
    gap: 1em;

}
