.navContainer {
    position: fixed;
    /* align-self: center; */
    display: flex;
    flex-direction: row;
    width: 95%;
    min-height: 2em;
    height: 10vh;
    background-color: #242331;
    justify-content: space-evenly;
    align-items: center;
    
    border-radius: 5px;
    border: 1px solid #4a4869;
    z-index: 100;
    margin: 5px 2% 0 2%;
    box-shadow: 0px 0 10px 4px #2c2a47;
}

.bienvenido{
    display: flex;
    text-align: center;
}
h2{
color: white;
}


.botonR{
    display: flex;
    justify-content: center;
    color: white;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #ca2929;
    padding: 3px 6px;
    /* justify-self: start; */
    cursor: pointer;
    font-weight: bold;
    text-decoration:none
}
    

.searchBar{
    justify-self: flex-end;
    font-weight: bold;
}
.botonH{
    cursor: pointer;
    color: white;
    background-color: #4129ca;
    align-self: center;
    border-radius: 5px;
    border: 1px solid black;
    padding: 2px 6px;
    font-weight: bold;
}
.btnAbout{
    /* margin-left: 1em; */
    padding: 3px 6px;
    border: 1px solid rgb(180, 161, 161);
    border-radius: 3px;
    background-color: #0f0f13;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.dPlay{
    display: none;
}

.btnFav{
    padding: 3px 6px;
    border-radius: 3px;
    border: 1px solid #fca311;
    background-color: #000000;
    color: #e5e5e5;
}

@media screen and (max-width: 600px) {
    h2{
  font-size: medium;
    }
    nav span{
        display: none;
    }
}
